@model IEnumerable<FootballSeasonBuilder.Models.League>

@{
    ViewData["Title"] = "League";
}

<div class="text-center">
    <h1 class="display-4">Leagues</h1>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumTeams)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumRounds)
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumTeams)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumRounds)
                </td>
            </tr>
        }
    </table>
    <p>Create League:</p>
    <form method="post">
        <input name="Name" type="text" />
        <input type="submit" value="Create" />
    </form>
</div>